<%=raw humane_flash_messages %>

<h1>Instructions</h1>
<ul>
  <li>Click <%= link_to "here", { :notice => "This is a notice." } %> to display a notice.</li>
  <li>Click <%= link_to "here", { :error => "This is an error." } %> to display an error.</li>
  <li>Click <%= link_to "here", { :alert => "This is an alert." } %> to display an alert.</li>
</ul>